<html>
    <head>
        <title><%= stop.indicator %> <%= stop.commonName %>, <%= stop.town %></title>
        <link rel="stylesheet" href="/public/base.css">
    </head>
    <body>
        <header>
            <div>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                    <li>
                        <a href="/map">Map</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="content">
            <h1><%= stop.indicator %> <%= stop.commonName %>, <%= stop.town %></h1>
        </div>
    </body>
</html>